# fly.toml app configuration file generated for savewise-mcp-server-rough-snowflake-2726 on 2026-01-10T18:28:46+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'savewise-mcp-server-rough-snowflake-2726'
primary_region = 'nrt'

[build]

[env]
  MCP_PATH = '/mcp'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/healthz'

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
